[D-BUS Service]
Name=org.gnome.zeitgeist.Engine
Exec=/bin/sh -c "/usr/lib/zeitgeist/zeitgeist/zeitgeist-maybe-vacuum; /usr/bin/zeitgeist-daemon"
SystemdService=zeitgeist.service
