[Desktop Entry]
# Translators: Add soft hyphens to your translations so that the icon view won't clip your translations. See https://bugzilla.gnome.org/show_bug.cgi?id=647087#c13 for details
Name=Key­board
Name[ar]=لوحة المفاتيح
Name[bg]=Кла­ви­а­ту­ра
Name[ca]=Teclat
Name[cs]=Klávesnice
Name[da]=Ta­sta­tur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[en_GB]=Key­board
Name[es]=Teclado
Name[eu]=Teklatua
Name[fa]=صفحه‌کلید
Name[fi]=Näppäimistö
Name[fr]=Cla­vier
Name[fur]=Tas­tie­re
Name[gd]=Meur-chlàr
Name[gl]=Teclado
Name[he]=מקלדת
Name[hr]=Tipkovnica
Name[hu]=Bil­len­tyű­zet
Name[id]=Papan Ketik
Name[is]=Lyklaborð
Name[it]=Tastiera
Name[kk]=Перне­тақта
Name[ko]=키보드
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[nb]=Tastatur
Name[nl]=Toetsenbord
Name[oc]=Clavièr
Name[pa]=ਕੀ-ਬੋਰਡ
Name[pl]=Kla­wia­tu­ra
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ru]=Клавиа­тура
Name[sk]=Klávesnica
Name[sr]=Тастатура
Name[sr@latin]=Tastatura
Name[sv]=Tan­gent­bord
Name[th]=แป้น­พิมพ์
Name[tr]=Klavye
Name[uk]=Клавіатура
Name[vi]=Bàn phím
Name[zh_CN]=键盘
Name[zh_TW]=鍵盤
Comment=View and change keyboard shortcuts and set your typing preferences
Comment[af]=Bekyk en verander sleutelbordkortpaaie en stel tikvoorkeure
Comment[an]=Veyer y cambiar os alcorces d'o teclau y establir as tuyas preferencias de escritura
Comment[ar]=اعرض و غيّر اختصارات لوحة المفاتيح و اضبط خيارات الكتابة
Comment[as]=কিবৰ্ড চৰ্টকাটসমূহ দৰ্শন কৰক আৰু পৰিবৰ্তন কৰক আৰু আপোনাৰ টাইপিং পছন্দসমূহ সংহতি কৰক
Comment[be]=Настройка клавіятурных скаротаў і ўводу тэксту
Comment[bg]=Преглед и промяна на клавишните комбинации и другите настройки на клавиатурата
Comment[bn_IN]=কীবোর্ড শর্টকাটগুলি দেখুন এবং পরিবর্তন করুন এবং অাপনার টাইপিং অগ্রাধিকার সেট করুন
Comment[bs]=Pregled i promjena prečice za tastaturu i postavi svoje preferirano kucanje
Comment[ca]=Visualitzeu i canvieu les dreceres de teclat i establiu les preferències d'escriptura
Comment[ca@valencia]=Visualitzeu i canvieu les dreceres de teclat i establiu les preferències d'escriptura
Comment[crh]=Klavye qısqayollarını seyretiñiz hem deñiştiriñiz ve tuşlama tercihleriñizni tesbit etiñiz
Comment[cs]=Zobrazit a změnit klávesové zkratky a nastavit předvolby pro psaní
Comment[da]=Vis og skift tastaturgenveje, og indstil dine tasteindstillinger
Comment[de]=Tastenkombinationen anzeigen und ändern sowie individuelle Tastaturbelegung einstellen
Comment[el]=Δείτε και αλλάξτε τις συντομεύσεις πληκτρολογίου και ορίστε τις προτιμήσεις πληκτρολόγησης
Comment[en_GB]=View and change keyboard shortcuts and set your typing preferences
Comment[eo]=Montri kaj ŝanĝi fulmoklavoj kaj agordi viajn tajpadajn opciojn
Comment[es]=Ver y cambiar los atajos del teclado y establecer sus preferencias de escritura
Comment[et]=Kiirklahvide vaatamine ja muutmine ning sisestamise eelistuste muutmine
Comment[eu]=Ikusi eta aldatu teklatuaren laster-teklak eta ezarri idazteko hobespenak
Comment[fa]=نمایش و تغییر میانبرهای صفحه‌کلید و تنظیم ترجیحات تایپ
Comment[fi]=Katsele ja muuta näppäimistön pikanäppäimiä ja aseta kirjoitusasetuksesi
Comment[fr]=Afficher, modifier les raccourcis clavier et définir vos préférences de saisie
Comment[fur]=Viôt e cambie la scurte di tastiere e impueste lis preferencis di digjitazion
Comment[gd]=Seall is atharraich ath-ghoiridean a' mheur-chlàir agad is suidhich na roghainnean sgrìobhaidh agad
Comment[gl]=Vexa e cambie os atallos do teclado e estabeleza as preferencias de escritura
Comment[gu]=કિબોર્ડ ટૂંકાણોને બદલો અને જુઓ અને તમારી ટાઇપીંગ પસંદગીઓને સુયોજિત કરો
Comment[he]=הצגה ושינוי קיצורי מקשים להעדפות ההקלדה שלך
Comment[hi]=देखें और कुंजीपटल शॉर्टकट को बदलें और अपनी टाइपिंग की वरीयताओं को सेट करें
Comment[hr]=Pogledajte i promijenite prečace tipkovnice i postavite osobitosti tipkanja
Comment[hu]=Gyorsbillentyűk megjelenítése és módosítása, gépelési beállítások megadása
Comment[id]=Tilik dan ubah pintasan papan tik dan tata preferensi pengetikan Anda
Comment[is]=Skoða og breyta flýtileiðum á lyklaborði og setja valkosti við stafainnsetningu
Comment[it]=Visualizza e modifica le scorciatoie da tastiera e imposta le preferenze di digitazione
Comment[ja]=キーボードショートカットの表示や変更、タイピングの設定を行います
Comment[kk]=Пернетақта жарлықтарын қарау және өзгерту, теру баптауларын орнату
Comment[kn]=ಕೀಲಿಮಣೆ ಸುಲಭಆಯ್ಕೆಗಳನ್ನು ನೋಡು ಹಾಗೂ ಬದಲಾಯಿಸು ಮತ್ತು ನಿಮ್ಮ ಟೈಪಿಂಗ್ ಆದ್ಯತೆಗಳನ್ನು ಹೊಂದಿಸು
Comment[ko]=키보드 바로 가기를 보거나 바꾸고 키보드 타이핑을 설정합니다
Comment[lt]=Rodyti ir keisti klaviatūros trumpinius bei nustatyti rašymo nuostatas
Comment[lv]=Skatiet un mainiet tastatūras īsinājumtaustiņus un iestatiet savus rakstīšanas iestatījumus
Comment[ml]=കീബോഡ് കുറുക്കുവഴികള്‍ കണ്ട് മാറുറുക; ടൈപ്പിങ്ങ് മുന്‍ഗണനകള്‍ മാറ്റുക
Comment[mr]=कळफलक शार्टक्टसचे अवलोकन आणि बदल करा आणि टाइपिंग पसंती ठरवा
Comment[nb]=Vis og bytt tastatursnarveier, og endre skriveoppsett
Comment[nl]=Sneltoetsen bekijken en wijzigen en typvoorkeuren instellen
Comment[oc]=Afichar, modificar los acorchis de clavièr e definir vòstras preferéncias de picada
Comment[or]=କିବୋର୍ଡ ସଂକ୍ଷିପ୍ତ ପଥଗୁଡ଼ିକୁ ଦେଖିକରି ପରିବର୍ତ୍ତନ କରନ୍ତୁ ଏବଂ ଆପଣଙ୍କର ଲେଖିବା ପସନ୍ଦକୁ ସେଟ କରନ୍ତୁ
Comment[pa]=ਕੀਬੋਰਡ ਸ਼ਾਰਟਕੱਟ ਵੇਖੋ ਤੇ ਬਦਲੋ ਅਤੇ ਆਪਣੀ ਟਾਈਪ ਕਰਨ ਲਈ ਪਸੰਦ ਦਿਉ
Comment[pl]=Wyświetlanie i zmiana skrótów klawiszowych oraz ustawianie preferencji pisania
Comment[pt]=Ver e alterar atalhos de teclado e definir as suas preferências de escrita
Comment[pt_BR]=Veja e altere os atalhos de teclado e defina suas preferências de digitação
Comment[ro]=Vedeți și schimbați scurtăturile de tastatură și configurați preferințele de tastare
Comment[ru]=Просмотр и изменение комбинаций клавиш, а также настройка ввода
Comment[sk]=Zobrazuje a mení klávesové skratky a tiež nastavuje vami preferované voľby písania
Comment[sl]=Ogled in sprememba tipkovnih bližnjic in nastvite možnosti tipkanja
Comment[sr]=Погледајте и измените пречице тастатуре и подесите ваше поставке куцања
Comment[sr@latin]=Pogledajte i izmenite prečice tastature i podesite vaše postavke kucanja
Comment[sv]=Visa och ändra tangentbordsgenvägar samt ange dina skrivinställningar
Comment[ta]=விசைப்பலகை குறூக்கு வழிகளைக் கண்டு மாற்றவும், அத்துடன் உங்கள் தட்டச்சு முன்னுரிமைகளை அமைக்கவும்
Comment[te]=కీబోర్డు లఘువులను దర్శించి మార్చు మరియు మీ టైపింగ్ అభీష్టాలను అమర్చు
Comment[tg]=Миёнбурҳои клавиатураро намоиш диҳед ва тағйир диҳед, ва бартариҳои чопкунии худро таъин кунед
Comment[th]=ดูและตั้งปุ่มลัดและปรับแต่งการป้อนข้อความของคุณ
Comment[tr]=Klavye kısayollarını görün ve değiştirin ayrıca yazım tercihlerinizi belirleyin
Comment[uk]=Переглянути і змінити клавіатурні скорочення і вказати параметри введення
Comment[vi]=Xem và thay đổi phím tắt và đặt tùy thích nhập liệu
Comment[zh_CN]=查看和更改快捷并设置打字偏好
Comment[zh_HK]=檢視與更改鍵盤捷徑鍵並設定你的輸入偏好設定
Comment[zh_TW]=檢視與變更鍵盤捷徑鍵並設定您的輸入偏好設定
Exec=gnome-control-center keyboard
Icon=input-keyboard
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=keyboard
X-GNOME-Bugzilla-Version=3.22.2
# Translators: those are keywords for the keyboard control-center panel
Keywords=Shortcut;Repeat;Blink;
Keywords[af]=Shortcut;Repeat;Blink;kortpad;herhaal;flikker;
Keywords[an]=Alcorce;Repetir;Parpaguiar;
Keywords[ar]=اختصار;تكرار;وميض;
Keywords[as]=চৰ্টকাট;পুনৰাবৃত্তি;পিৰিকিয়া;
Keywords[ast]=Atayu;Repetir;Parpaguiar;
Keywords[be]=Клавіятурны скарот;Паўтор;Мільганне курсора;
Keywords[bg]=клавишна;комбинация;повторение;мигане;shortcut;repeat;blink;
Keywords[bn]=শর্টকাট;পুনরাবৃত্ত করা;মিটিমিটি জ্বলা;
Keywords[bn_IN]=শর্টকাট;পুনরাবৃত্তি;ব্লিঙ্ক;
Keywords[bs]=Prečac;Ponovi;Blinkaj;
Keywords[ca]=Drecera;Repeteix;Parpelleig;
Keywords[ca@valencia]=Drecera;Repeteix;Parpelleig;
Keywords[crh]=Qısqayol;Tekrar;Qıpma;
Keywords[cs]=zkratka;opakovat;blikat;
Keywords[da]=Genvej;Gentagelse;Blink;
Keywords[de]=Kürzel;Wiederholen;Blinken;Tastaturkürzel;Tastenkombination
Keywords[el]=Συντόμευση;Επανάληψη;Αναβόσβησμα;Shortcut;Repeat;Blink;
Keywords[en_GB]=Shortcut;Repeat;Blink;
Keywords[eo]=Klavkombino;Ripeto;Pulso;
Keywords[es]=Atajo;Repetir;Parpadear;
Keywords[et]=Kiirklahv;Kordus;Vilkumine;
Keywords[eu]=Laster-tekla;Errepikatu;Keinua;
Keywords[fa]=میان‌بر;تکرار;چشمک;
Keywords[fi]=Pikanäppäin;Toisto;Vilkkuminen;
Keywords[fr]=Raccourci;Répétition;Clignotement;
Keywords[fur]=Scurte;Ripet;Lampâ;
Keywords[ga]=Aicearra;Athbhrú;Caoch;
Keywords[gd]=Ath-ghoirid;Ath-dhèan;Priobadh;
Keywords[gl]=Atallo;Repetir;Pestanexar;
Keywords[gu]=ટૂંકાણ;ચાલુ રાખો;ઝબૂકવુ;
Keywords[he]=קיצור דרך;חזרה;הבהוב;
Keywords[hi]=शॉर्टकट;दोहराएँ;ब्लिंक;
Keywords[hr]=Prečac;Ponovi;Treptanje;
Keywords[hu]=Gyorsbillentyű;Ismétlés;Villogás;
Keywords[id]=Pintasan;Pengulangan;Kedip;
Keywords[is]=Flýtilykill;Endurtekning;Blikka;
Keywords[it]=Scorciatoie;Ripetizione;Lampeggiamento;
Keywords[ja]=Shortcut;Repeat;Blink;ショートカット;リピート;点滅;Keyboard;キーボード;
Keywords[kk]=Жарлық;Қайталау;Жыпылықтау;
Keywords[km]=Shortcut;Repeat;Blink;
Keywords[kn]=ಶಾರ್ಟ್-ಕಟ್;ಪುನರಾವರ್ತನೆ;ಮಿಟುಕಿಸು;
Keywords[ko]=Shortcut;바로 가기;Repeat;반복;Blink;깜박;
Keywords[ky]=Комбинация;Кайталоо;Өчүп-жануу;
Keywords[lt]=Trumpinys;Pakartoti;Mirksėti;
Keywords[lv]=Īsceļš;Atkārtot;Mirkšķināt;Shortcut;Repeat;Blink;
Keywords[mk]=Кратенка;Повтори;Трепкај;
Keywords[ml]=Shortcut;Repeat;Blink;
Keywords[mr]=शार्टकट;रिपिट;ब्लिंक;
Keywords[nb]=Snarvei;Repetisjon;Blinking;
Keywords[nl]=Shortcut;Repeat;Blink;Sneltoets;Herhalen;Knipperen;
Keywords[nn]=Snøggtast;Repeter;Blink;
Keywords[oc]=Acorchi;Repeticion;Cluquejament;
Keywords[or]=ସଂକ୍ଷିପ୍ତ ପଥ;ପୁନରାବୃତ୍ତି;ମିଞ୍ଜି ମିଞ୍ଜି;
Keywords[pa]=ਸ਼ਾਰਟਕੱਟ;ਦੁਹਰਾਉ;ਬਲਿੰਕ;
Keywords[pl]=Skrót;Skróty;Powtarzanie;Miganie;Pisanie;
Keywords[pt]=Atalho;Repetição;Piscar;
Keywords[pt_BR]=Atalho;Repetir;Piscar;
Keywords[ro]=Shortcut;Repeat;Blink;Scurtatură;
Keywords[ru]=Комбинация;Повтор;Мигание;
Keywords[sk]=Skratka;Skratky;Opakovanie;Blikanie;Rýchlosť;
Keywords[sl]=Bližnjica;Ponovi;Zabliskaj;
Keywords[sr]=пречица;понови;трепни;
Keywords[sr@latin]=prečica;ponovi;trepni;
Keywords[sv]=Genväg;Repetera;Blinka;
Keywords[ta]=சுருக்குவழி;மீண்டும்நிகழ்த்து;கண்ணிமை;
Keywords[te]=అడ్డదారి;పునరావృతం;బ్లింక్;
Keywords[tg]=Миёнбур;Такрор;Мижазанӣ;
Keywords[th]=ปุ่มลัด;ซ้ำปุ่ม;กะพริบ;
Keywords[tr]=Kısayol;Tekrar;Kırpma;
Keywords[ug]=Shortcut;Repeat;Blink;قىسقا يول;تەكرارلاش;چاقناش;
Keywords[uk]=Скорочення;Повтори;Блимання;
Keywords[vi]=Shortcut;Phím;tắt;phim;tat;Repeat;Lặp;lap;Blink;Nháy;nhay;
Keywords[zh_CN]=Shortcut;Repeat;Blink;快捷键;重复;闪烁;
Keywords[zh_HK]=Shortcut;Repeat;Blink;捷徑鍵;重複;閃爍;
Keywords[zh_TW]=Shortcut;Repeat;Blink;捷徑鍵;重複;閃爍;
