[Desktop Entry]
Name=Calendar
Name[an]=Calandario
Name[ar]=التقويم
Name[bs]=Kalendar
Name[ca]=Calendari
Name[cs]=Kalendář
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[en_GB]=Calendar
Name[eo]=Kalendaro
Name[es]=Calendario
Name[eu]=Egutegia
Name[fa]=تقویم
Name[fi]=Kalenteri
Name[fr]=Agenda
Name[fur]=Calendari
Name[ga]=Féilire
Name[gd]=Am mìosachan
Name[gl]=Calendario
Name[he]=לוח שנה
Name[hr]=Kalendar
Name[hu]=Naptár
Name[id]=Kalender
Name[is]=Dagatal
Name[it]=Calendario
Name[ja]=カレンダー
Name[kk]=Күнтізбе
Name[ko]=달력
Name[lt]=Kalendorius
Name[lv]=Kalendārs
Name[nb]=Kalender
Name[nl]=Agenda
Name[oc]=Agenda
Name[pa]=ਕੈਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Agenda
Name[pt_BR]=Agenda
Name[ro]=Calendar
Name[ru]=Календарь
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sr]=Календар
Name[sr@latin]=Kalendar
Name[sv]=Kalender
Name[tg]=Тақвим
Name[th]=ปฏิทิน
Name[tr]=Takvim
Name[uk]=Календар
Name[zh_CN]=日历
Name[zh_HK]=行事曆
Name[zh_TW]=行事曆
Comment=Access, and manage calendar
Comment[an]=Accedir y chestionar calandarios
Comment[ar]=انفذ إلى التقويم وأدره
Comment[bs]=Pristup,i upravljanje kalendarom
Comment[ca]=Accedeix i gestiona el calendari
Comment[cs]=Zobrazit a spravovat kalendář
Comment[da]=Tilgå og håndtér kalender
Comment[de]=Auf Kalender zugreifen und verwalten
Comment[el]=Προσεγγίστε, και διαχειριστείτε το ημερολόγιο
Comment[en_GB]=Access, and manage calendar
Comment[eo]=Aliri kaj administri kalendaron
Comment[es]=Acceder y gestionar calendarios
Comment[eu]=Atzitu eta kudeatu egutegia
Comment[fa]=دسترسی، و مدیریت تقویم
Comment[fi]=Hallitse aikatauluasi kalenterin avulla
Comment[fr]=Gérer et accéder à l'agenda
Comment[fur]=Jentre e ministre il calendari
Comment[gd]=Inntrig is stiùirich am mìosachan
Comment[gl]=Acceder e xestionar un calendario
Comment[he]=גישה וניהול לוח שנה
Comment[hr]=Pristupite i upravljajte kalendarom
Comment[hu]=Naptár elérése és kezelése
Comment[id]=Mengakses dan mengelola kalender
Comment[is]=Skoða og sýsla með dagatöl
Comment[it]=Accede e gestisce il calendario
Comment[ja]=カレンダーへのアクセスと管理
Comment[kk]=Күнтізбелерге қатынау және басқару
Comment[ko]=달력에 접근하고 관리합니다
Comment[lt]=Prieikite ir tvarkykite kalendorių
Comment[lv]=Piekļūstiet un pārvaldiet kalendāru
Comment[nb]=Se på og håndter kalender
Comment[nl]=Agenda gebruiken en beheren
Comment[oc]=Gerir e accedir a l'agenda
Comment[pa]=ਕੈਲੰਡਰ ਵਰਤੋਂ ਅਤੇ ਪਰਬੰਧ
Comment[pl]=Wyświetlanie i zarządzanie kalendarzem
Comment[pt]=Aceda e gira a sua agenda
Comment[pt_BR]=Acesse e gerencie sua agenda
Comment[ro]=Accesare și administrare calendar
Comment[ru]=Доступ и управление календарём
Comment[sk]=Pristupujte a spravujte kalendár
Comment[sl]=Upravljanje in dostop do koledarjev
Comment[sr]=Приступите и управљајте календаром
Comment[sr@latin]=Pristupite i upravljajte kalendarom
Comment[sv]=Kom åt och hantera kalender
Comment[tg]=Идоракунӣ ва дастрасӣ ба тақвим
Comment[th]=เข้าถึงและจัดการปฏิทิน
Comment[tr]=Takviminize erişin ve onu yönetin
Comment[uk]=Доступитись і керуватись календарем
Comment[zh_CN]=访问并管理日历
Comment[zh_HK]=存取、管理行事曆
Comment[zh_TW]=存取、管理行事曆
Exec=gnome-calendar
Icon=org.gnome.Calendar
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Office;Calendar;Core;
Keywords=Calendar;Event;Reminder;
Keywords[an]=Calandario;Evento;Recordatorio;
Keywords[ar]=Calendar;Event;Reminder;تقويم;حدث;تذكير;
Keywords[bs]=Kalendar;Događaj;Podsjetnik;
Keywords[ca]=Calendari;Cita;Recordatori;
Keywords[cs]=kalendář;událost;upomínka;připomenutí;
Keywords[da]=Kalender;Begivenhed;Påmindelse;
Keywords[de]=Kalender;Termin;Erinnerung;
Keywords[el]=Ημερολόγιο;Συμβάν;Υπενθύμιση;Calendar;Event;Reminder;
Keywords[en_GB]=Calendar;Event;Reminder;
Keywords[eo]=Kalendaro;Evento;Rememorigilo;
Keywords[es]=Calendario;Evento;Recordatorio;
Keywords[eu]=Egutegia;Gertaera;Oroigarria;
Keywords[fa]=Calendar;Event;Reminder;تقویم;رویداد;یادآوری;
Keywords[fi]=Calendar;Event;Reminder;Kalenteri;Tapahtuma;Muistutus;
Keywords[fr]=Agenda;Événement;Rappel;
Keywords[fur]=Calendari;Lunari;Event;Events;Promemorie;
Keywords[gd]=Calendar;Event;Reminder;mìosachan;tachartas;cuimhneachan;
Keywords[gl]=Calendario;Evento;Recordatorio;
Keywords[he]=לוח שנה;יומן;אירוע;תזכיר;מזכיר;תזכורת;
Keywords[hr]=Kalendar;Događaj;Podsjetnik;
Keywords[hu]=Naptár;Esemény;Emlékeztető;
Keywords[id]=Kalender;Acara;Pengingat;
Keywords[is]=dagatal;viðburður;atburður;áminning;
Keywords[it]=Calendario;Evento;Eventi;Promemoria;
Keywords[ja]=Calendar;Event;Reminder;カレンダー;イベント;リマインダー;
Keywords[kk]=Calendar;Event;Reminder;Күнтізбе;Оқиға;Естелік;
Keywords[ko]=Calendar;달력;Event;행사;Reminder;알림;
Keywords[lt]=Kalendorius;Įvykis;Priminimas;
Keywords[lv]=Kalendārs;Notikums;Atgādinājums;
Keywords[nb]=Kalender;Hendelse;Påminnelse;
Keywords[nl]=Calendar;Agenda;Kalender;Event;Afspraak;Evenement;Gebeurtenis;Reminder;Herinnering;
Keywords[oc]=Agenda;Eveniment;Rapèl;
Keywords[pa]=ਕੈਲੰਡਰ;ਈਵੈਂਟ;ਰੀਮਾਈਡਰ;
Keywords[pl]=Kalendarz;Wydarzenie;Zdarzenie;Przypomnienie;Przypominanie;
Keywords[pt]=Agenda;Evento;Lembrete;
Keywords[pt_BR]=Agenda;Evento;Lembrete;
Keywords[ro]=Calendar;Event;Reminder;Eveniment;Memento;
Keywords[ru]=Календарь;Событие;Напоминание;
Keywords[sk]=Kalendár;Udalosť;Pripomienka;
Keywords[sl]=Koledar;Dogodki;Opomniki;
Keywords[sr]=календар;догађај;потсетник;
Keywords[sr@latin]=kalendar;događaj;potsetnik;
Keywords[sv]=Kalender;Händelse;Påminnelse;
Keywords[tg]=Тақвим;Рӯйдод;Ёдрасон;
Keywords[th]=ปฏิทิน;งานกิจกรรม;ปลุกเตือน;
Keywords[tr]=Takvim;Olay;Hatırlatıcı;
Keywords[uk]=Календар;Подія;Нагадування;
Keywords[zh_CN]=Calendar;Event;Reminder;日历;事件;提醒;
Keywords[zh_TW]=Calendar;Event;Reminder;行事曆;事件;行程;活動;提醒;
MimeType=text/calendar;
DBusActivatable=true
