[Desktop Entry]
Name[ar]=پولاري
Name[as]=Polari
Name[bs]=Polari
Name[ca]=Polari
Name[ca@valencia]=Polari
Name[cs]=Polari
Name[da]=Polari
Name[de]=Polari
Name[el]=Polari
Name[en_GB]=Polari
Name[eo]=Polario
Name[es]=Polari
Name[eu]=Polari
Name[fa]=پولاری
Name[fi]=Polari
Name[fr]=Polari
Name[fur]=Polari
Name[gl]=Polari
Name[he]=Polari
Name[hu]=Polari
Name[id]=Polari
Name[it]=Polari
Name[ja]=Polari
Name[kk]=Polari
Name[ko]=폴라리
Name[lv]=Polari
Name[lt]=Polari
Name[nb]=Polari
Name[ne]=पोलारि
Name[nl]=Polari
Name[oc]=Polari
Name[pa]=ਪੋਲਾਰੀ
Name[pl]=Polari
Name[pt]=Polari
Name[pt_BR]=Polari
Name[ro]=Polari
Name[ru]=Polari
Name[sk]=Polari
Name[sl]=Polari
Name[sr]=Полари
Name[sr@latin]=Polari
Name[sv]=Polari
Name[te]=పొలారి
Name[tg]=Polari
Name[tr]=Polari
Name[uk]=Балаканина
Name[zh_CN]=Polari
Name[zh_HK]=Polari
Name[zh_TW]=Polari
Name=Polari
Comment[ar]=عميل المحادثة المنقولة بالإنترنت (IRC) لجنوم
Comment[as]=GNOME ৰ বাবে এটা ইন্টাৰনেট ৰিলে চেট ক্লাএন্ট
Comment[bs]=Internet Relay Chat klijent za GNOME
Comment[ca]=Un client d'IRC per al GNOME
Comment[ca@valencia]=Un client d'IRC per al GNOME
Comment[cs]=Komunikační klient IRC pro GNOME
Comment[da]=En Internet Relay Chat-klient for GNOME
Comment[de]=Ein IRC-Client für GNOME
Comment[el]=Ένας πελάτης συνομιλίας μεταγωγής διαδικτύου για το GNOME
Comment[en_GB]=An Internet Relay Chat Client for GNOME
Comment[eo]=IRC-a kliento por GNOME
Comment[es]=Un cliente de IRC para GNOME
Comment[eu]=GNOMEren IRCaren (Interneteko berriketa-zerbitzua) bezero bat
Comment[fa]=یک کارگیر بازپخش اینترنت (IRC) برای گنوم
Comment[fi]=IRC-asiakassovellus Gnomelle
Comment[fr]=Un client de discussion relayée par Internet (IRC) pour GNOME
Comment[fur]=Un program IRC par GNOME
Comment[gl]=Un cliente de Internet Relay Chat para GNOME
Comment[he]=לקוח IRC לסביבת GNOME
Comment[hu]=Interneten továbbított csevegés (IRC) kliens a GNOME-hoz
Comment[id]=Suatu Klien Internet Relay Chat untuk GNOME
Comment[it]=Un programma IRC per GNOME
Comment[ja]=GNOME用インターネットリレーチャットクライアント
Comment[ko]=그놈 데스크톱 IRC 클라이언트
Comment[lv]=Internet Relay Chat klients GNOME videi
Comment[lt]=GNOME internetinio perdavimo pokalbių klientas
Comment[nb]=En Internet Relay Chat-klient for GNOME
Comment[nl]=Een Internet Relay Chat-client voor Gnome
Comment[oc]=Un client IRC per GNOME
Comment[pa]=ਗਨੋਮ ਲਈ ਇੰਟਰਨੈੱਟ ਰਿਲੇਅ ਚੈਟ ਕਲਾਇਟ
Comment[pl]=Klient IRC dla środowiska GNOME
Comment[pt]=Um cliente de Internet Relay Chat (IRC) para o GNOME
Comment[pt_BR]=Um cliente de bate-papo através da Internet (IRC) para o GNOME
Comment[ro]=Un client IRC pentru GNOME
Comment[ru]=IRC-клиент для GNOME
Comment[sk]=Klient rozhovorov v službe IRC prostredia GNOME
Comment[sl]=Odjemalec za IRC za GNOME
Comment[sr]=Гном ИРЦ клијент за ћаскање
Comment[sr@latin]=Gnom IRC klijent za ćaskanje
Comment[sv]=En IRC-chattklient för GNOME
Comment[te]=గ్నోమ్ కోసం ఒక ఇంటర్నెట్ రిలే క్లయింట్
Comment[tr]=GNOME için İnternet Aktarmalı Sohbet İstemcisi
Comment[uk]=Клієнт ретрансляційної інтернетової балачки для GNOME
Comment[zh_CN]=GNOME 的 IRC 客户端
Comment[zh_HK]=GNOME 的互聯網中繼聊天客戶端
Comment[zh_TW]=GNOME 的網際網路中繼聊天客戶端
Comment=An Internet Relay Chat Client for GNOME
Exec=gapplication launch org.gnome.Polari
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[cs]=org.gnome.Polari
Icon[da]=org.gnome.Polari
Icon[de]=org.gnome.Polari
Icon[el]=org.gnome.Polari
Icon[en_GB]=org.gnome.Polari
Icon[es]=org.gnome.Polari
Icon[eu]=org.gnome.Polari
Icon[fa]=org.gnome.Polari
Icon[fi]=org.gnome.Polari
Icon[fr]=org.gnome.Polari
Icon[fur]=org.gnome.Polari
Icon[gl]=org.gnome.Polari
Icon[he]=org.gnome.Polari
Icon[hu]=org.gnome.Polari
Icon[id]=org.gnome.Polari
Icon[it]=org.gnome.Polari
Icon[kk]=org.gnome.Polari
Icon[ko]=org.gnome.Polari
Icon[lv]=org.gnome.Polari
Icon[lt]=org.gnome.Polari
Icon[nl]=org.gnome.Polari
Icon[pl]=org.gnome.Polari
Icon[pt]=org.gnome.Polari
Icon[pt_BR]=org.gnome.Polari
Icon[sk]=org.gnome.Polari
Icon[sr]=org.gnome.Polari
Icon[sr@latin]=org.gnome.Polari
Icon[sv]=org.gnome.Polari
Icon[uk]=org.gnome.Polari
Icon[zh_TW]=org.gnome.Polari
Icon=org.gnome.Polari
Type=Application
MimeType=x-scheme-handler/irc;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
Categories=GNOME;GTK;Network;IRCClient;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=عميل محادثة منقولة;آي آر سي;اي ار سي;محادثة;منقولة;إنترنت;انترنت;
Keywords[as]=IRC;ইন্টাৰনেট;ৰিলে;চেট;
Keywords[bs]=IRC, internet, Relay, Chat;
Keywords[ca]=IRC;Internet;Relé;Xat;
Keywords[ca@valencia]=IRC;Internet;Relé;Xat;
Keywords[cs]=IRC;Internet;Relay;Chat;diskuze;diskuzní;komunikace;
Keywords[da]=IRC;Internet;Relay;Chat;Snak;
Keywords[de]=IRC;Internet;Chat;
Keywords[el]=IRC;διαδίκτυο;μεταγωγή;συνομιλία;Internet;Relay;Chat;
Keywords[en_GB]=IRC;Internet;Relay;Chat;
Keywords[eo]=IRC;Interreta;relajsa;babilo;
Keywords[es]=IRC;Internet;Chat;
Keywords[eu]=IRC;internet;zerbitzua;berriketa;
Keywords[fa]=IRC;Internet;Relay;Chat;اینترنت;گپ;
Keywords[fi]=IRC;Internet;Relay;Chat;irkki;
Keywords[fr]=IRC;Internet;Discussion;Conversation;
Keywords[fur]=IRC;Internet;Relay;Chat;Conversazions;
Keywords[gl]=IRC;Internet;Relay;Chat;
Keywords[he]=IRC;אינטרנט;ממסר;צ׳אט;שיחוח;דיונים;
Keywords[hu]=IRC;Internet;Relay;Chat;Csevegés;Cset;
Keywords[id]=IRC;Internet;Relay;Chat;
Keywords[it]=IRC;Internet;Chat;Conversazioni;
Keywords[ja]=IRC;Internet;Relay;Chat;インターネット;リレー;チャット;インターネットリレーチャット;
Keywords[ko]=IRC;아이알씨;Internet;Relay;Chat;채팅;수다;대화;
Keywords[lv]=IRC;Internets;Relay;Tērzēšana;
Keywords[lt]=IRC;Internetas;Perdavimas;Pokalbiai;
Keywords[nl]=IRC;Internet;Relay;Chat;
Keywords[oc]=IRC;Internet;Discussion;Conversacion;
Keywords[pa]=IRC;Internet;Relay;Chat;ਆਈਆਰਸੀ;ਇੰਟਰਨੈੱਟ;ਚੈਟ;
Keywords[pl]=IRC;Internet;Relay;Chat;czat;pokój;rozmów;rozmowa;konferencja;
Keywords[pt]=IRC;Internet;Relay;Chat;Diálogo;Conversa;
Keywords[pt_BR]=IRC;Internet;Relay;Chat;Bate-papo;Bate papo;
Keywords[ro]=IRC;Internet;Relay;Chat;Discuție;
Keywords[ru]=IRC;Интернет;Чат;
Keywords[sk]=IRC;Internet;rozhovor;
Keywords[sl]=IRC;Internet;Klepet;Sobe;
Keywords[sr]=ћаскање;пренос;интернет;ирц;чет;ćaskanje;prenos;čet;IRC;Internet:Relay;Chat;
Keywords[sr@latin]=ćaskanje;prenos;internet;irc;čet;ćaskanje;prenos;čet;IRC;Internet:Relay;Chat;
Keywords[sv]=IRC;Internet;Chatt;
Keywords[te]=ఐఆర్‌సి;అంతర్జాలం;రిలే;సంభాషణ;
Keywords[tr]=IRC;İnternet;Anlık;Anında;Sohbet;
Keywords[uk]=IRC;Інтернет;Ретрансляція;Балачка;
Keywords[zh_CN]=IRC;Internet;Relay;Chat;网络;聊天;聊天室;
Keywords[zh_HK]=IRC;Internet;Relay;Chat;互聯網;中繼;轉繼;聊天;清談;
Keywords[zh_TW]=IRC;Internet;Relay;Chat;網際網路;中繼;轉繼;聊天;清談;
Keywords=IRC;Internet;Relay;Chat;
