[Unit]
Description=gnome-user-share WebDAV server

[Service]
Type=dbus
BusName=org.gnome.user-share.webdav
ExecStart=/usr/lib/gnome-user-share/gnome-user-share-webdav
Restart=on-failure
