[Unit]
Description=Telepathy logger service

[Service]
Type=dbus
BusName=org.freedesktop.Telepathy.Logger
ExecStart=/usr/lib/telepathy/telepathy-logger
